meta(charset="UTF-8")
meta(name="description" content="Destiny 2 Item Manager")
meta(name="keywords" content="Destiny 2, Item Manager, Backpack, Inventory")
meta(name="author" content="Andrea Franchini")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- Add favicon too
link(rel="stylesheet" type="text/css" href="css/styles.css")
//- Here google fonts or other CDN fonts
